body {
    background-image: url(./img/data.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

main {
    padding: 50px;
}
